# JetBrains tools
.idea/
zos/
files
# Symbolic Execution Results
test/verification/manticore/results/*
# Development
artifacts/*.development.json
artifacts/*.spree.json

# Build / Travis
build/
node_modules/
dist
coverage*
ganache-cli.log

# Mac / Apple
.DS_Store

$ Python related
keeper_contracts.egg-info
venv
target/
.python-version
.eggs/

# ZeppelinOS related
zos.dev-*.json
!zos.dev-8995.json
!zos.dev-2199.json
!zos.dev-846353.json
.zos.session
.zos.lock
zos.json
wallets.json

# Security report files
mythrilReport.md
securifyReport.txt
KeeperContracts.png
slitherReport.txt
