language: node_js

node_js:
- "10"

python:
- "3.6"

services:
- docker

sudo: required

cache:
    directories:
    - node_modules

env:
- DEPLOY_PACKAGE=true
- SOLIDITY_COVERAGE=true
- SOLC_NIGHTLY=true

matrix:
    fast_finish: true
    allow_failures:
    - env: SOLIDITY_COVERAGE=true
    - env: SOLC_NIGHTLY=true

before_install:
- npm install -g npm
- npm install -g ganache-cli@~6.1.8 release-it greenkeeper-lockfile
- |
    if [ "${DEPLOY_PACKAGE}" = "true" ]; then
      sudo apt-get -y install python3-pip gnupg-agent
      gpg-agent --daemon --no-grab --write-env-file $HOME/.gpg-agent-info
      pip3 install --user twine six==1.10.0 wheel==0.31.0
      sudo apt-get install oracle-java8-set-default maven
      java -version
      mvn -version
      export WEB3J_VERSION=4.0.1
      curl -L -o web3j-${WEB3J_VERSION}.tar https://github.com/web3j/web3j/releases/download/v${WEB3J_VERSION}/web3j-${WEB3J_VERSION}.tar
      tar xf web3j-${WEB3J_VERSION}.tar
      ls -la
      echo "$PATH"
      export PATH="${PWD}/web3j-${WEB3J_VERSION}/bin:${PATH}"
      echo "$PATH"
      web3j version
      bash -x scripts/maven.sh
      echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import
      echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust
      version_line=$(cat .bumpversion.cfg | grep current_version)
      release_version=${version_line##* }
      export release_version
      echo $release_version
    fi

before_script:
- greenkeeper-lockfile-update
- ganache-cli > ganache-cli.log &

script:
- npm run lint
- npm run test:cover
- npm run migrate
- git status
- git add package-lock.json
- git add ./artifacts/*.ocean_poa_aws.json
- git diff-index --quiet HEAD || git commit -m "Travis update"

after_script:
- greenkeeper-lockfile-upload

notifications:
    email: false

deploy:
- provider: npm
  email: "devops@oceanprotocol.com"
  api_key: ${NPM_TOKEN}
  skip_cleanup: true
  on:
      tags: true
      all_branches: true
      condition: $DEPLOY_PACKAGE = true

- provider: script
  script: bash -x ./scripts/maven.sh && mvn clean deploy --settings .maven.xml -B -U -Prelease
  skip_cleanup: true
  on:
      tags: true
      all_branches: true
      condition: $DEPLOY_PACKAGE = true

- provider: script
  script: bash -x ./scripts/deploy_pypi.sh
  skip_cleanup: true
  on:
      tags: true
      all_branches: true
      condition: $DEPLOY_PACKAGE = true

- provider: releases
  skip_cleanup: true
  api_key:
      secure: E0N2DcmVXjwmp7EwSxTjQv1dbrro/DMqWx29Tp6DYGlcCv8yhVwX18DjJYb5GPQFQCl8BDYIIcmTodQxMmPlHkNFzU05s95zvIc2losZVoszQ30sT3HK2O9GaSGCMXKL0urJou4u3eX8v/HKf/LXWr5nHvNuTS/5RCpqthyqg8dH/+9Jd6xqBZtCYK9i5RHKrysnmWveLVuk+XUkYhm4XcgRJkaGmAzGk1TRjGIcsYMTlPHq6sVahXlUkySua2EnB+UJJABaFU2G2P5SkUJUuI7rqYDkZ+PXcCzJByd8m2v9oNlcMdizM/e/cajuZUDlSCgLbhfZVDXzKN3rL3w+vsIzjvBaLdazBlEd6Rhr9tbF/xOeURDzuSRElIttgn1oKFEzjKY2bg9v+OKQTXmQHdpbCUDHaOznODN9U+dYQSod7neWPim8ny6lQkq4ypKPLXOhhAOkkKcPoZ1YYBv0aHuRup0aWmj7AS1mifGtqeRZbMPZPbI6Bq+ISBbpdMnkhtwj2R91m5c47I3s+kX3MQ6rgxkVJ7h2SvPLSB1djC/4XfGMFvLUt+0jTY/FqnK7X8ieVMekuwMcew5nWa/QukZmD6jjxHk+v2YFSWsDu7YFe6gEjaLUON23ZMIDqNJbxQrO0vnlioaA8kAKPhGiEYdtF3uYhJn3ff76MSuGRy8=
  # file:
  # - oceanprotocol-keeper-contracts-$release_version.tgz.jar
  # - dist/keeper_contracts-$release_version-py2.py3-none-any.jar
  # - target/keeper-contracts-$release_version.jar
  name: "$release_version"
  on:
      tags: true
      all_branches: true
      condition: $DEPLOY_PACKAGE = true
